# S13_T01_Bases de dades MySQL


### Ex1: Crea una base de dades relacionals senzilla utilitzant MySQL(https://www.mysql.com/) i connecta-la a Python

Crearem una base de dades de una escola a on tenim la info dels estudiants i professors amb les seves relacions, i la informació dels diferents estudis amb la informació de les classes.Per tant, tindrem taules per: estudiants, professors, classes i de relació entre professor i estudiant

In [18]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="Beth",
  password="B3thSQL@88"
)

mycursor = mydb.cursor()

#creem database "database_test"
mycursor.execute("CREATE DATABASE escola_sup")

In [3]:
#comprovem si s'ha creat la nostra base de dades

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('compras_establiments',)
('datbase_test',)
('escola_sup',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [16]:
#creem taules (Estudiants, Professors,Classes)

mydb = mysql.connector.connect(
  host="localhost",
  user="Beth",
  password="B3thSQL@88",
  database="escola_sup"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE estudiants (ID INT PRIMARY KEY, Nom VARCHAR(255), Cognom VARCHAR(255), Estudis VARCHAR(255))")

In [22]:
mydb = mysql.connector.connect(
  host="localhost",
  user="Beth",
  password="B3thSQL@88",
  database="escola_sup"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE classes (materia VARCHAR(255), Estudis VARCHAR(255))")

In [24]:
mycursor.execute("CREATE TABLE test (materia VARCHAR(255), final INTEGER(8))")

In [25]:
mycursor = mydb.cursor()

sql = "DROP TABLE test"

mycursor.execute(sql)
mydb.commit()

In [30]:
#Ara ja tenim creada la nostra base de dades, i connectada amb Python!
#podem demanar-li que ens mostri les taules que conté per veure que ho tenim tot correctament connectat

mydb = mysql.connector.connect(
  host="localhost",
  user="Beth",
  password="B3thSQL@88",
  database="escola_sup"
)

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('classes',)
('estudiants',)
('professors',)
('relation',)

### Ex2: Mostra que pots carregar algunes consultes senzilles a un Pandas Dataframe

In [11]:
#anem a carregar algunes consultes a un Pandas Dataframe
import pandas as pd
import mysql.connector

In [16]:
mydb = mysql.connector.connect(
  host="localhost",
  user="Beth",
  password="B3thSQL@88",
  database="escola_sup"
)

In [13]:
#fem una consulta per saber el nom i codi del professor que dóna cada matèria
query = "SELECT id_profe, nom, materia FROM professors"
#convertim una query en un dataframe de Pandas, i tanquem connexió a la base de dades
data_frame = pd.read_sql(query, mydb)
#extreiem la info de les variables consultades, i imprimim el nou dataframe de la consulta
print(data_frame.info())
print(data_frame)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_profe  30 non-null     object
 1   nom       30 non-null     object
 2   materia   30 non-null     object
dtypes: object(3)
memory usage: 848.0+ bytes
None
   id_profe        nom         materia
0      P001      Petra           Mates
1      P002      Ramon          Dibuix
2      P003  Constanti     Estadistica
3      P004      Belen        Biologia
4      P005      Faust         Disseny
5      P006      Marta       Algebra I
6      P007      Emili          Calcul
7      P008      Erika          Angles
8      P009      Eladi         Quimica
9      P010      Felip      Algebra II
10     P011        Pau        Dibuix I
11     P012      Carol       E Digital
12     P013      Reyes     Programacio
13     P014     Carles       Dibuix II
14     P015     Marcel        Hardware
15     P016       Joan          Fisica
16     P017      Pablo        Quantica
17     P018      Oscar            Dret
18     P019        Pep      Legislacio
19     P020      Ester     Ofimatica I
20     P021       Imma    Ofimatica II
21     P022    Conxita         Lab Bio
22     P023      Carme      Lab Fisica
23     P024     Miquel     Lab Quimica
24     P025       Laia       Lab Elect
25     P026     Xavier   Electronica I
26     P027       Biel  Electronica II
27     P028       Marc      Mecanica I
28     P029      Bruna     Mecanica II
29     P030       Alex     Lab Mecanic

In [14]:
#fem una segona consulta per saber el nombre i nom d'estudiants que fan Mates
query_2 = "SELECT COUNT(nom) FROM estudiants WHERE Estudis = 'Mates'"
#convertim una query en un dataframe de Pandas, i tanquem connexió a la base de dades
data_frame_2 = pd.read_sql(query_2, mydb)

#extreiem la info de les variables consultades, i imprimim el nou dataframe de la consulta
print(data_frame_2.info())
print(data_frame_2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNT(nom)  1 non-null      int64
dtypes: int64(1)
memory usage: 136.0 bytes
None
   COUNT(nom)
0           5

In [17]:
query_3 = "SELECT nom, cognom FROM estudiants WHERE Estudis = 'Enginyeria'"
#convertim una query en un dataframe de Pandas, i tanquem connexió a la base de dades
data_frame_3 = pd.read_sql(query_3, mydb)
mydb.close()
#extreiem la info de les variables consultades, i imprimim el nou dataframe de la consulta
print(data_frame_3.info())
print(data_frame_3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nom     13 non-null     object
 1   cognom  13 non-null     object
dtypes: object(2)
memory usage: 336.0+ bytes
None
           nom    cognom
0     Milagros     Rosal
1        Germa    Quebec
2    Constanti   Halbert
3        Alice    Rovira
4        Faust     Lamas
5       Clemen     Arnes
6      Daniela  Vallverd
7       Marcel    Martin
8        Nuria     Enric
9   Montserrat    Salgas
10       Felip      Puig
11         Pau    Romeva
12       Carol    Torres

### Ex3: Genera algun gràfic que resumeixi les dades